body, html{
    margin: 0;
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.info{
    background-color: #ab9dff;
    padding: 5vh;
    width: 400px;
    margin: 20vh auto;
    color: white;
}
nav ul{
    background-color: #ab9dff;
    width:100%;
    text-align: center;
    margin-top: 0px;
 
}
nav ul li{
    display: inline-block;
    margin: 15px 25px;
}